
<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
　<title>グラフ</title>
  <link rel="stylesheet" type="text/css" href="style.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
</head>
<body>

  <h1>折れ線グラフ</h1>
  <div class="chart">
    <div class="chat1">
        <canvas id="myLineChart1"></canvas>
    </div>
    <div class="chat2">
        <canvas id="myLineChart2"></canvas>
    </div>
  </div>

  <script>

  </script>
</body>

</html>