<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
</head>
<body>
    <h1>Chart</h1><br>

    <h1>PD</h1>
    <div id="chart-pd">
        <div class="chart-pd-0"><canvas id="pd-0" width="200" height="100"></canvas></div>
        <div class="chart-pd-1"><canvas id="pd-1" width="200" height="100"></canvas></div>
        <div class="chart-pd-2"><canvas id="pd-2" width="200" height="100"></canvas></div>
        <div class="chart-pd-3"><canvas id="pd-3" width="200" height="100"></canvas></div>
        <br>
    </div><br>

    <h1>PPV</h1>
    <div id="chart-ppv">
        <div class="chart-ppv-0"><canvas id="ppv-0" width="200" height="100"></canvas></div>
        <div class="chart-ppv-1"><canvas id="ppv-1" width="200" height="100"></canvas></div>
        <div class="chart-ppv-2"><canvas id="ppv-2" width="200" height="100"></canvas></div>
        <div class="chart-ppv-2"><canvas id="ppv-3" width="200" height="100"></canvas></div>
        <br>
    </div><br>

    <h1>PD ALL</h1>
    <canvas id="pd" width="200" height="100"></canvas><br>
    <h1>PPV ALL</h1>
    <canvas id="ppv" width="200" height="100"></canvas><br>
    <h1>PPV-PD</h1>
    <canvas id="ppv-pd" width="200" height="100"></canvas><br>
    
    
    <script>
        const URL = 'http://localhost:5000/plot/'
        
        const linePlot = async (id, URL, arrayIdx, category) => {
            try {
                const options = {method: 'GET'}
                const tmpData = {}
                const res = await fetch(URL, options);
                const resData = await res.json()
                    .then((res) => {
                        new Chart(document.getElementById(id), {
                                type: 'line',
                                data:{
                                    labels: res.data[arrayIdx].time,
                                    datasets: [{
                                        label: `${category}: ${res.data[arrayIdx].meshcode}`,
                                        data: res.data[arrayIdx][category],
                                        borderColor: [
                                            'rgba(255, 99, 132, 1)',
                                        ],
                                        borderWidth: 1
                                    }]
                                },
                                options: {
                                    animation: false,
                                    scales: {
                                        yAxes: [{
                                            ticks: {
                                                beginAtZero: true
                                            }
                                        }]
                                    },
                                    legend: {
                                        position: 'left',
                                        labels: {
                                            fontSize: 12
                                        }
                                    }
                                }
                            })
                        })                        
            } catch (err) {
                console.log(err);
            }
        }
        const multiLinePlot = async (id, URL, category) => {
            try {
                const options = {method: 'GET'}
                const tmpData = {}
                const res = await fetch(URL, options);
                const resData = await res.json()
                    .then((res) => {
                        new Chart(document.getElementById(id), {
                                type: 'line',
                                data:{
                                    labels: res.data[0].time,
                                    datasets: [
                                        {
                                            label: `${category}: ${res.data[0].meshcode}`,
                                            data: res.data[0][category],
                                            borderColor: ['rgba(255, 99, 132, 1)'],
                                            borderWidth: 1
                                        },
                                        {
                                            label: `${category}: ${res.data[1].meshcode}`,
                                            data: res.data[1][category],
                                            borderColor: ['rgba(60, 255, 150, 1)'],
                                            borderWidth: 1
                                        },
                                        {
                                            label: `${category}: ${res.data[2].meshcode}`,
                                            data: res.data[2][category],
                                            borderColor: ['rgba(180, 0, 180, 1)'],
                                            borderWidth: 1
                                        },
                                        {
                                            label: `${category}: ${res.data[3].meshcode}`,
                                            data: res.data[3][category],
                                            borderColor: ['rgba(0, 255, 255, 1)'],
                                            borderWidth: 1
                                        },

                                    ]
                                },
                                options: {
                                    animation:false,
                                    scales: {
                                        yAxes: [{
                                            ticks: {
                                                beginAtZero: true
                                            }
                                        }]
                                    },
                                    legend: {
                                        position: 'left',
                                        labels: {
                                            fontSize: 12
                                        }
                                    }
                                }
                            })
                        })                        
            } catch (err) {
                console.log(err);
            }
        }
        setInterval(()=>{
            linePlot ('ppv-0',URL, 0, 'ppv')
            linePlot ('ppv-1',URL, 1, 'ppv')
            linePlot ('ppv-2',URL, 2, 'ppv')
            linePlot ('ppv-3',URL, 3, 'ppv')
            linePlot ('pd-0',URL, 0, 'pd')
            linePlot ('pd-1',URL, 1, 'pd')
            linePlot ('pd-2',URL, 2, 'pd')
            linePlot ('pd-3',URL, 3, 'pd')
            multiLinePlot('pd', URL, 'pd')
            multiLinePlot('ppv', URL, 'ppv')
            multiLinePlot('ppv-pd', URL, 'ppv-pd')
            location.reload
        }, 1000)
        // fetchData('myChart2',URL)
        
        // setInterval(async ()=> location.reload, 2000)
        
        // fetchData('myChart2',URL)
        // const data = fetchData(URL);
        // console.log(data)
        // let ctx1 = document.getElementById('myChart1');
        // let myChart1 = new Chart(ctx1, data)
        
    </script>
</body>
</html>